.icon-button {
  width: 89px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f2f2;
  border-radius: 100px;
  border: 13px solid #F55B6C;
  cursor: pointer;
}
