$image-height: 200px;

.card-image img {
  height: 100%;
  min-height: $image-height;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-image.item img {
  max-height: $image-height;
  cursor: pointer;
}
