.card-image img {
  height: 100%;
  min-height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-image.item img {
  max-height: 170px;
  cursor: pointer;
}

// .card-image.item img:focus {
//   outline: none !important;
// }

// .card-image.item img:focus-within {
//   outline: none !important;
// }
