p.instructions{
  font-style: italic;
  font-size: large;
}

.cameraButton{
  position: absolute;
  bottom: -40px;
  left: 50%;
  right: 50%;
}

span.file-cta {
  border-radius: 100px;
  border: 13px solid rgba(244, 113, 127, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f2f2;
  height: 89px;
  width: 89px;
  cursor: hand;
}

.card-image > img{
  border-top-left-radius: 32px !important;
  border-top-right-radius: 32px !important;
}