.modal-content, .modal-card{
    max-width: 80%;
    max-height: fit-content;
    
}
.SettingsText{
    padding: 20px;
}
.RadioSelect{
    padding: 20px;    
    accent-color: #F55B6C;
}
.Radios{
padding: 20px;
}