.analysis-card {
    background-color: hsla(248, 21%, 20%, 0.94) !important;
    border-radius: 34px !important;
    height: 100%;
    min-height: 550px;
    padding: 24px;
  }

.mainTitle{
    font-size: 25px;
    text-align: center;
}

.mainBody{
    text-align: center
}

button.button{
    border-radius: 12px;
    background-color: #f55b6c;
    color: white;
    width: 100%;
    max-width: 200px !important;
    margin: 10px; 
}

.buttonGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}