.analysis-card {
  background-color: hsla(248, 21%, 20%, 0.94) !important;
  border-radius: 34px !important;
  height: 100%;
  min-height: 550px;
  padding: 24px;
}

.mainTitle {
  text-align: center;
  color: #f55b6c;
}

.mainBody {
  text-align: center;
}

button.button {
  border-radius: 12px;
  background-color: #f55b6c;
  color: white;
  margin: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redirectText {
  color: #f55b6c;
}
