@import "~bulma/bulma.sass";

@font-face {
  font-family: "open-sans-bold";
  font-display: swap;
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-bold-italic";
  font-display: swap;
  src: url("/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold";
  font-display: swap;
  src: url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold-italic";
  font-display: swap;
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-italic";
  font-display: swap;
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-light";
  font-display: swap;
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-light-italic";
  src: url("/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium";
  font-display: swap;
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium-italic";
  font-display: swap;
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium";
  font-display: swap;
  src: url("/fonts/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-regular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-semibold";
  font-display: swap;
  src: url("/fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-semibold-italic";
  font-display: swap;
  src: url("/fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
}

html,
body {
  font-family: "open-sans-semibold", sans-serif;
  font-size: var(--color-size);
  font-weight: var(--color-weight);
  transition: all ease-in-out 0.3s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 1248px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (max-width: 640px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.rounded-md {
  border-radius: 24px !important;
}

.rounded-lg {
  border-radius: 34px !important;
}

.button-sm {
  width: 100% !important;
  max-width: 100px !important;
}

.button-lg {
  width: 100%;
  max-width: 200px;
}
