@import "~bulma/bulma.sass";

@font-face {
  font-family: "open-sans-bold";
  src: url("../static/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-bold-italic";
  src: url("../static/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold";
  src: url("../static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-extrabold-italic";
  src: url("../static/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-italic";
  src: url("../static/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-light";
  src: url("../static/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-light-italic";
  src: url("../static/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium";
  src: url("../static/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium-italic";
  src: url("../static/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-medium";
  src: url("../static/fonts/OpenSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-regular";
  src: url("../static/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-semibold";
  src: url("../static/fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans-semibold-italic";
  src: url("../static/fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
}

html,
body {
  font-family: "open-sans-semibold", sans-serif;
}
